//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2023  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

//- Don't display that title
block title

//- Replace the network title with the editable one
block network_title
  h2
    | Network
    a#change-name(href='#')
      span#name= network.name
      i.glyphicon.glyphicon-pencil(style='font-size: 20px;')
    input#name-input.form-control(type='text' style='width: 200px; display: none;')
    |  (#{network.nwid}):
  script.
    $(function() {
      var nwurl = '/controller/network/#{network.nwid}';
      var name = !{JSON.stringify(network.name)};

      function toggleNameEditor(show) {
        $('#change-name').css('display', !show ? '' : 'none');
        $('#name-input').css('display', show ? 'inline-block' : 'none');
      }

      function submit() {
        var newName = $('#name-input').val();
        if (newName != name) {
          name = newName;
          $.post(nwurl + '/name', {'name': name})
            .done(function () {
              $('#name').text(newName);
            });
        }
        toggleNameEditor(false);
      }

      $('#change-name').on('click', function() {
        toggleNameEditor(true);
        $('#name-input').val(name);
        $('#name-input').focus();
      });
      $('#name-input').on('focusout', submit);
      $('#name-input').keypress(function (e) {
        if (e.which == 13) submit();
      });
    });

block net_content
  - const nwurl = '/controller/network/' + network.nwid;
  - const implemented = new Set(['private','enableBroadcast','ssoEnabled','mtu','multicastLimit','remoteTraceLevel','authorizationEndpoint','clientId','remoteTraceTarget','rules','capabilities','tags','dns','routes','ipAssignmentPools','v4AssignMode','v6AssignMode','ingressNodeV4'])

  //- Action buttons grouped by concern
  .btn-toolbar(style="margin-bottom: 16px;")
    .btn-group
      a.btn.btn-sm.btn-primary(href=(nwurl + '/private') role='button')
        = network.private ? "Private" : "Public"
      a.btn.btn-sm.btn-default(href=(nwurl + '/easy') role='button') Easy setup
    .btn-group
      a.btn.btn-sm.btn-default(href=(nwurl + '/routes') role='button') Routes
      a.btn.btn-sm.btn-default(href=(nwurl + '/ipAssignmentPools') role='button') Pools
      a.btn.btn-sm.btn-default(href=(nwurl + '/v4AssignMode') role='button') IPv4
      a.btn.btn-sm.btn-default(href=(nwurl + '/v6AssignMode') role='button') IPv6
    .btn-group
      a.btn.btn-sm.btn-default(href=(nwurl + '/dns') role='button') DNS
      a.btn.btn-sm.btn-default(href=(nwurl + '/ingressNodeV4') role='button') Ingress Node

  //- Members panel
  if (members !== undefined)
    script.
      $(function() {
        const url = "#{nwurl}/members";
        $('.authCheck').on('click', function() {
          $.post(url, {'id': this.value, 'auth': this.checked});
        });
        $('.bridgeCheck').on('click', function() {
          $.post(url, {'id': this.value, 'activeBridge': this.checked});
        });
        $('.text').on('change', function() {
          $.post(url, {'id': this.name, 'name': this.value});
        });
      });
    .panel.panel-default
      .panel-heading
        h3.panel-title
          | Members&nbsp;
          span.badge= members.length
      form(method='POST' action='')
        table.table.table-striped.table-hover.zt-panel-table
          thead
            tr
              th(style="width: 3%;")
              th(style="width: 20%;") Member name
              th(style="width: 10%;") Member ID
              th(style="width: 10%;") Authorized
              th(style="width: 10%;") Active bridge
              th(style="width: 17%;") IP assignment
              th(style="width: 17%;") Peer status
              th(style="width: 13%;") Peer address / latency
          tbody
            each member in members
              - const peer = member.peer;
              tr
                - const url = nwurl + '/member/' + member.id
                td
                  a(href=url + '/delete')
                    i.glyphicon.glyphicon-trash
                td
                  input.form-control.text(type='text' name=member.id value=member.name)
                td
                  a(href=url) #{member.id}
                td
                  input.authCheck(type='checkbox' value=member.id checked=(member.authorized? true : false))
                td
                  input.bridgeCheck(type='checkbox' value=member.id checked=(member.activeBridge? true : false))
                td
                  each ipAssignment in member.ipAssignments
                    a(href=nwurl + '/member/' + member.id + '/ipAssignments')
                      each digit in ipAssignment
                        = digit
                      = ' '
                  else
                    a(href=nwurl + '/member/' + member.id + '/ipAssignments')
                      | IP assignment
                td
                  if (peer && peer.latency != -1 && peer.versionMajor != -1)
                    if (peer.latency != -1)
                      span(style='color: green;')
                        | ONLINE (v#{peer.version})
                    else
                      span(style='color: orange;')
                        | RELAY (v#{peer.version})
                  else if (member.id == zt_address)
                    span(style='color: green;') CONTROLLER
                  else
                    span(style='color: red;') OFFLINE
                td
                  if (peer)
                    each path in peer.paths
                      if (path.preferred == true)
                        - const [ip, port] = path.address.split('/');
                        = ip
                        span(style='color: gray;') /#{port}
                        = ' '
                        if (peer.latency != -1)
                          br
                          | (#{peer.latency} ms)
                        - break
            else
              tr
                td(colspan='8')
                  .alert.alert-info(style="margin: 8px;")
                    strong There are no members on this network — invite users to join #{network.nwid}
      .panel-footer
        a.btn.btn-default.btn-sm(href='' name='refresh' role='button') Refresh

  else
    p
      a.btn.btn-default.btn-sm(href='' name='refresh' role='button') Refresh

  //- Network properties panel
  .panel.panel-default(style="margin-top: 16px;")
    .panel-heading
      h3.panel-title Network properties
    table.table.table-condensed.table-hover.zt-panel-table
      tbody
        each value, key in network
          tr
            td.zt-props-key
              if implemented.has(key)
                a(href= network.nwid + '/' + key)
                  i.glyphicon.glyphicon-pencil(style="font-size: 10px; margin-right: 5px;")
                  = key
              else
                span.text-muted= key
            td.zt-props-val
              +json_value(value)
    .panel-footer
      a.btn.btn-default.btn-sm(href='/controller/networks' name='networks' role='button') All networks
